CompileFlags:
  Add:
    - -ID:/Projects/CPP/ting/Dependancies/GLFW/include
    - -ID:/Projects/CPP/ting/Dependancies/GLAD
    - -ID:/Projects/CPP/ting/Source
    - -DGLFW_INCLUDE_NONE
    - -ID:/Projects/CPP/ting/Dependancies/ImGui
    - -ID:/Projects/CPP/ting/Dependancies/ImGui/backends